<p> <font size=6 color = cyan> <center>  Surfs Up! </center> </font> </p>

![](images/surfer.jpg)

<p> <font size = 5> Step 1 - Data Engineering </font></p>

The climate data for Hawaii is provided through two CSV files. This notebook utilizes Python and Pandas to inspect the content of these files and clean the data.

The cleaned CSV files is saved with the prefix clean_.

In [61]:
import pandas as pd
import numpy as np

In [62]:
file_one = pd.read_csv("data/hawaii_measurements.csv")
file_two = pd.read_csv("data/hawaii_stations.csv")

In [63]:
measurements = pd.DataFrame(file_one)
stations = pd.DataFrame(file_two)

In [74]:
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [65]:
measurements.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [66]:
measurements.size

78200

In [67]:
clean_measurements = measurements.dropna(axis=0)

In [68]:
clean_measurements.size

72412

In [69]:
clean_measurements.describe()

               prcp          tobs
count  18103.000000  18103.000000
mean       0.160644     72.994863
std        0.468746      4.512107
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [72]:
clean_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [60]:
stations.to_csv("data/clean_stations.csv", index = False )

In [60]:
clean_measurements.to_csv("data/clean_measurements.csv", index = False )